* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #151515;
	color: #fff;
	display: grid;
	place-items: center;
	
	align-items: baseline;
}
img {
	display: block;
	max-width: 100%;
}
/* ======================== */
.card {
	width: 200px;
	height: 250px;
	color: #151515;
	perspective: 800px;
}
.card__inner {
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}
.card:hover .card__inner {
	transform: rotateY(-180deg);
}
.card__side {
	position: absolute;
	inset: 0;
	background-color: #fff;
	display: grid;
	grid-template-rows: 160px 1fr;
	backface-visibility: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.card__side--back {
	transform: rotateY(180deg);
}
.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card__body {
	padding: 16px;
	font-size: 12px;
}
.card__body--flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.card__title {
	font-size: 16px;
	text-transform: uppercase;
	margin-right: 10px;
}
.card__arrow {
	display: grid;
	place-items: center;
	width: 30px;
	height: 30px;
	border: 2px solid #000;
	border-radius: 50%;
}

