body{
    display: flex;
   
    
    align-items: center;
    min-height:100vh;
}
h1{
    background-color: #2cd3bf;
    display: flex;
    
}
h2{
   
    background-color: beige;
    text-decoration: solid;
}
.card{
    position: relative;
    isolation:isolate;
    width:40%;
    height:220px;
   display: flex;
   flex-wrap: wrap;
    background-color: #d7caca;
    border-radius: 9px;
    justify-content: center;
}
.card-image{
    display: block;
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
    border-radius: inherit;
    transition: transform 250ms;
}
.card:hover .card-image{
    transform: translateX(300px) scale(0.5);
    
}
.card-body{
    position: absolute;
    inset: 0;
    z-index: -1;
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
    padding:10% 10% 10% 10%;
    margin-left: 1%;
    color: #364846;
    width:80%;
    overflow: hidden;

}
.card-button{
    display: flex;
    text-decoration: none;
    padding: 9% 9%;
    border-radius: 4px;
    background-color: #b7bdc0;
    color: #000;
    width:20%;
    height: 20%;
    align-items: flex-end;
    justify-content: center;
}
h6{
    float: right;
    text-decoration: underline;
}
@media only screen and (max-width: 700px) {
    
    .card-body{
        display: flex;
        font-size: xx-small;
        max-width: max-content;
        object-fit: fill;
    }
    .card-image{
        max-width: 100%;
        width: 100%;
        height: 100%;
        display: inline-flex;
        object-fit: fill;
    }
    
}