body{
    display: flex;
   
    align-items: flex-start;
    min-height:100vh;
}
.card{
    position: relative;
    isolation:isolate;
    width:40%;
    height:220px;
   display: flex;
   flex-wrap: wrap;
    background-color: #d7caca;
    border-radius: 19px;
}
.card-image{
    display: block;
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
    border-radius: inherit;
    transition: transform 250ms;
}
.card:hover .card-image{
    transform: translateX(300px) scale(0.5);
    
}
.card-body{
    position: absolute;
    inset: 0;
    z-index: -1;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    color: #364846;
    width:80%;
    overflow: hidden;

}
.card-button{
    display: inline-block;
    text-decoration: none;
    padding: 9px 9px;
    border-radius: 4px;
    background-color: #f4c644;
    color: #000;
    width:40%;
    height: 20%;
    align-items: flex-end;
}
@media only screen and (max-width: 600px) {
    .card-body{
        font-size: 10px;
        display: inline;
    
    }
}